:root {
    --grid-size: 8;
    --display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.board-wrapper {
    height: 80vmin;
    width: 80vmin;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    position: relative;
}

.game-over-screen {
    position: absolute;
    background-color: rgba(255, 192, 203, 0.308);
    height: 80vmin;
    width: 80vmin;
    top: 0;
    display: var(--display);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.square {
    border-top: 0.5vmin solid #ececec;
    border-left: 0.5vmin solid #ececec;
    border-bottom: 0.5vmin solid gray;
    border-right: 0.5vmin solid gray;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:hover {
    background-color: rgb(221, 233, 232);
    background-color: rgb(207, 223, 220);
    cursor: default;
}

.square[data-value='bear'] {
    background-color: pink;
}
