:root {
    --grid-size: 8;
    --display: none;
    --border-size: 0.67vmin;
    --board-border-color: #000000ab;
    --title-color: #226940;
    --title-color: #0b3f2bd9;
    --a-link-color: #b0c7b0;
    --a-hover-color: #b0c7b0;
}

@font-face {
    font-family: 'pixel';
    src: url('./fonts/pixel_intv-webfont.woff2') format('woff2'),
         url('./fonts/pixel_intv-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_little_sunshineregular';
    src: url('./fonts/a_little_sunshine-webfont.woff2') format('woff2'),
         url('./fonts/a_little_sunshine-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html { 
    background: url(./img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    color: var(--a-link-color);
    text-decoration: none;
    font-family: 'a_little_sunshineregular', serif;
}

a:hover {
    color: var(--a-hover-color);
    font-weight: 600;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title {
    font-family: 'a_little_sunshineregular', serif;
    font-size: 8vmin;
    color: var(--title-color);
    font-weight: 100;
    margin: 1vmin 0;
    text-align: center;
}


main {
    position: relative;
}


.board-wrapper {
    height: 80vmin;
    width: 80vmin;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    border: 0.2vmin solid var(--board-border-color);
    background-color: var(--board-border-color);
    box-shadow: 0.2vmin 0.2vmin 0.5vmin var(--board-border-color);
}

.game-over-screen {
    height: 80vmin;
    width: 80vmin;
    position: absolute;
    top: 0;
    left: 0;
    display: var(--display);   
}

.menu-wrapper {
    width: 80vmin;
    display: flex;
    gap: 2vmin;
    font-family: 'a_little_sunshineregular', serif;
    margin: 0.3vmin;
}

.message {
    display: var(--display);
    align-items: flex-end;
}

.message > h1 {
    color: var(--title-color);
    font-size: 4vmin;
    line-height: 4vmin;
    font-weight: 100;
}

button {
    background-color: rgba(255, 255, 255, 0);
    font-family: 'a_little_sunshineregular', serif;
    width: fit-content;
    font-size: 4vmin;
    padding: 1%;
    border: 1px solid var(--title-color);
    color: var(--title-color);
    transform: rotate(-6deg) translateY(1.2vmin);
    transition: transform 300ms;
}

button:hover {
    box-shadow: 0 0 1vmin white;
    transform: rotate(-5deg) translateY(0vmin);
}

.square {
    border-top: var(--border-size) solid #ececec;
    border-left: var(--border-size) solid #ececec;
    border-bottom: var(--border-size) solid #777777;
    border-right: var(--border-size) solid #777777;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'pixel', sans-serif;
    font-size: 5vmin;
    line-height: 3vmin;
    padding: 0 0 0.8vmin 0.4vmin;

}

.square:hover {
    background-color: rgb(221, 233, 232);
    background-color: rgb(207, 223, 220);
    cursor: default;
}

footer {
    margin-top: 2vmin;
    font-family: 'a_little_sunshineregular', serif;
    font-size: 3vmin;
    background-color: #000000ab;
    width: 100%;
}

.footer-wrapper {
    /* width: 80vmin; */
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: white;
    margin: auto;
    padding: 0.5vmin 2vmin;
}

.github-icon {
    max-height: 2.5vmin;
}



.flagged {
    background-image: url(./img/bear-pawprint.png);
    background-position: 50% 60%;
    background-size: 90%;
    background-repeat: no-repeat;
}

.show-bear {
    background-color: #b0c7b0;
    background-image: url(./img/bear.png);
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;
    border: none; 
    border-top: 0.5vmin solid #777777; 
    border-left: 0.5vmin solid #777777;
}

.visible-square {
    background-image: none;
    border: none;
    border-top: 0.5vmin solid #777777; 
    border-left: 0.5vmin solid #777777;
}